ultralytics
opencv-python
numpy
jsonlines
# YOLOWorld ambulance head dependency
git+https://github.com/ultralytics/CLIP.git

# GPS server dependencies
fastapi
uvicorn[standard]
pydantic
requests
gdown
